
.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "menu sort search search"
    "menu highlighted-recepy highlighted-recepy2 ."
    "menu search-courses search-courses search-courses"
    "menu highlighted-user highlighted-user highlighted-user"
    "menu footer footer footer";
}

.btn_white {
    color: #9EA80D;
    background-color: white;
    text-transform: uppercase;

    border-radius: 14px;
    padding: 10px 30px 10px 30px;
    border-color: transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10);
}


.btn_green {
    background-color: #9EA80D;
    color: white;
    text-transform: uppercase;
    border-radius: 14px;
    padding: 10px 30px 10px 30px;
    margin: 10px;

    border-color: transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10);
}

h1 {
    font-family: "KG Blank Space Sketch";
    font-size: 42px;
    color: #570D10;
    text-transform: uppercase;
}

input {
    padding: 10px;
    border-radius: 14px;
}

.selection-menu {
    margin-left: 20%;
    grid-area: sort;
    padding: 10px;
    border-radius: 14px;
    background-color: white;

    border-color: #9EA80D;
    font-weight: bold;
}

#recepy-select-options {
    border-radius: 14px;
    border-color: #9EA80D;
    padding: 10px;
}

#searchbar {
    grid-area: search;
    border-color: red;
}

.select-recepy {
    padding: 10px;
    border-radius: 14px;
    border-color: #9EA80D;
}


.highlighted-recepy{
    position:relative; /* Vanwege de social media handles bovenin het recept*/
    grid-area: highlighted-recepy;
    text-align: center;

}

.hl-container {
    display: inline-block;
}

.recepy-rating {
    position: absolute;
    bottom: 0;
    right: 20px;
    top: 75%;
}

.social-media-handles {
    position: absolute;
    top: 25%;
    right: 7%;
}

#rated_stars {
}

.highlighted_recepy_img {
    margin: 10px;
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 14px;
}


.recepy-tags {
    /*display: inline-block;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

tag {
    font-size: 18px;
    color: #9EA80D;
    border: #9EA80D 1px solid;
    border-radius: 14px;
    padding: 5px 30px 5px 30px;
    background-color: white;
}

.search_courses {
    margin: 1%;
    grid-area: search-courses;
    text-align: center;
}


#highlighted-user {
    display: grid;
    grid-area: highlighted-user;
    color: #9EA80D;
    background-color: #F6FFF2;
}

#highlighted-user h3 {
    font-style: normal;
    font-size: 40px;
}

#hl-user-text {
    font-style: italic;
    margin-left: 20%;
    float: left;
}
#hl-user-profile {
}

#hl-user-buttons {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}


footer {
    display: grid;
    grid-area: footer;
    background-color: #9EA80D;
}
/* Fixed scroll button to go to the top */
#scroll-btn {
    /*display: none; !* Hidden by default *!*/
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #9EA80D; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#scroll-btn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}